@model List<MVC_Json_Reader.Models.CountryCode>

@{
    ViewData["Title"] = "Home Page";
}


<table>
    <tr>
        <th>Country</th>
        <th>Countrycode</th>
        <th>Capital City</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.countryname</td>
            <td>@item.countrycode</td>
            <td>@item.capitalcity</td>
        </tr>
      
    }

</table>